In [1]:
print("/n")

/n

In [6]:
x=("\\n")
print(x)

\n

In [10]:
r=int(input("enter the radius of the circle"))
print("the area of circle","is",3.14*r*r)

enter the radius of the circle12
the area of circle is 452.15999999999997

In [18]:
r=6
print("volume of sphere","is",4.0/3.0*3.14*r*r*r)

volume of sphere is 904.3199999999998

In [36]:
x=8
y=7
z=1
result=(x+y+z)*(3)
print("the result is",result)

the result is 48

In [25]:
x=int(input("enter the value of base"))
y=int(input("enter the value of hieght"))
print("volume of triange","=",1/2*x*y)

enter the value of base12
enter the value of hieght11
volume of triange = 66.0

In [35]:
x=4
y=3
result=(x+y)*(x+y)
print("the result is",result)

the result is 49

In [37]:
p=10000
r=3.5
t=7
result=p*r*t/100
print("the simple interest is",result)

the simple interest is 2450.0

In [45]:
input_string="246.2458"
float_number=float(input_string)
integer_number=int(float_number)
print("result",integer_number)

TypeError: 'float' object is not callable

In [49]:
x=int(input("enter the value of p"))
y=int(input("enter the value of b"))
result=(x**2+y**2)
print(result)

enter the value of p11
enter the value of b12

TypeError: 'float' object is not callable

In [53]:
a=77
x=1
result=(a==x,x==a)
print(result)

TypeError: 'float' object is not callable

In [55]:
a=77
x=1

print("a=",a)
print("x=",x)

print("\n after swapping:")
print("a=",a)
print("x=",x)

TypeError: 'float' object is not callable

In [7]:
x=int(input("enter the number"))
result=x**3
print("the cube of x","is",result)

enter the number13
the cube of x is 2197

In [8]:
x=("\\n")
print(x)

\n

In [1]:
b=int(input("enter perpendicular"))
a=int(input("enter base"))
c=(a**2+b**2)**0.5
print(c)

enter perpendicular3
enter base4
5.0

In [2]:
a=77
x=1
c=x
x=a
a=c
print("a",a)
print("x",x)

a 1
x 77