In [1]:
num=2
while(num<=10):
    print(num)
    num=num+2

2
4
6
8
10

In [2]:
num=1
while(num<=10):
    print(num)
    num=num+2

1
3
5
7
9

In [4]:
num=1
while(num<=10):
    print(num)
    num=num+1

1
2
3
4
5
6
7
8
9
10

In [5]:
num=0
while(num<=10):
    print(num)
    num=num+1

0
1
2
3
4
5
6
7
8
9
10

In [10]:
num=1

while(num<=10):
    print(num,num**2)
    num=num+1

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [12]:
for i in range(10,301,10):
    print(i)

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300

In [15]:
x=105
while(x>=7):
    print(x)
    x=x-7

105
98
91
84
77
70
63
56
49
42
35
28
21
14
7

In [19]:
x = int(input("Enter x: "))
total_sum = 0

for i in range(1, x + 1):
    print(i)  
    total_sum += i  

print("Sum of numbers from 1 to", x, "is:", total_sum)

Enter x: 12
1
2
3
4
5
6
7
8
9
10
11
12
Sum of numbers from 1 to 12 is: 78

In [24]:
positivecount = 0
positivesum = 0
negativecount = 0
negativesum = 0

while True:
    num = int(input("Enter a number (enter 0 to stop): "))
    
    if num == 0:
        break
    elif num > 0:
        positivecount += 1
        positivesum += num
    elif num < 0:
        negativecount += 1
        negativesum += num

print("Negative sum is", negativesum)
print("Negative count is", negativecount)
print("Positive sum is", positivesum)
print("Positive count is", positivecount)

Enter a number (enter 0 to stop): 12
Enter a number (enter 0 to stop): 12
Enter a number (enter 0 to stop): 67
Enter a number (enter 0 to stop): 43
Enter a number (enter 0 to stop): 87
Enter a number (enter 0 to stop): -98
Enter a number (enter 0 to stop): -23
Enter a number (enter 0 to stop): -44
Enter a number (enter 0 to stop): -89
Enter a number (enter 0 to stop): 0
Negative sum is -254
Negative count is 4
Positive sum is 221
Positive count is 5

In [1]:
c=0
for i in range(101,500):
    if i%13==0 and i%3!=0:
        print("divisible by 13 but not by 3",i)

divisible by 13 but not by 3 104
divisible by 13 but not by 3 130
divisible by 13 but not by 3 143
divisible by 13 but not by 3 169
divisible by 13 but not by 3 182
divisible by 13 but not by 3 208
divisible by 13 but not by 3 221
divisible by 13 but not by 3 247
divisible by 13 but not by 3 260
divisible by 13 but not by 3 286
divisible by 13 but not by 3 299
divisible by 13 but not by 3 325
divisible by 13 but not by 3 338
divisible by 13 but not by 3 364
divisible by 13 but not by 3 377
divisible by 13 but not by 3 403
divisible by 13 but not by 3 416
divisible by 13 but not by 3 442
divisible by 13 but not by 3 455
divisible by 13 but not by 3 481
divisible by 13 but not by 3 494

10000

In [29]:
n = 10  


for i in range(1, n + 1):
    print(i * i)

1
4
9
16
25
36
49
64
81
100

In [3]:

number_names = {
    '0'=='Zero',
    '1'== 'One',
    '2'=='Two',
    '3'=='Three',
    '4'=='Four',
    '5'=='Five',
    '6':'Six',
    '7': 'Seven',
    '8':'Eight',
    '9':'Nine'
}


number = input("Enter a number: ")


for digit in number:
    if "number_names" in number:
        print(number_names)
    else:
        print("Invalid input")
# print(type(number_names))

Enter a number: 231
Invalid input
Invalid input
Invalid input

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1771817035.py, line 4)

In [7]:
n=int(input("enter the number"))
a=str(n)
for i in a:
    if i=="1":
        print("one")
    elif i=="2":
        print("two")
    elif i=="3":
        print("three")

enter the number123
one
two
three

In [8]:
n=int(input("enter n"))
a=n
for i in range(1,n+1):
    print(i,"...",a)
    a=a-1

enter n49
1 ... 49
2 ... 48
3 ... 47
4 ... 46
5 ... 45
6 ... 44
7 ... 43
8 ... 42
9 ... 41
10 ... 40
11 ... 39
12 ... 38
13 ... 37
14 ... 36
15 ... 35
16 ... 34
17 ... 33
18 ... 32
19 ... 31
20 ... 30
21 ... 29
22 ... 28
23 ... 27
24 ... 26
25 ... 25
26 ... 24
27 ... 23
28 ... 22
29 ... 21
30 ... 20
31 ... 19
32 ... 18
33 ... 17
34 ... 16
35 ... 15
36 ... 14
37 ... 13
38 ... 12
39 ... 11
40 ... 10
41 ... 9
42 ... 8
43 ... 7
44 ... 6
45 ... 5
46 ... 4
47 ... 3
48 ... 2
49 ... 1